

.e1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:1540px;
	height:1024px;
	position:absolute;
}
.e3_0 { 
	width:1507px;
	height:167px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(35.06250075995922, 35.06250075995922, 35.06250075995922, 1);
	width:1540px;
	height:139px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_8 { 
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:37px;
	position:absolute;
	left:1228px;
	top:82px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e1_9 { 
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:37px;
	position:absolute;
	left:686px;
	top:79px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e1_10 { 
	color:rgba(255, 253.30003201961517, 253.30003201961517, 1);
	width:279px;
	height:37px;
	position:absolute;
	left:965px;
	top:78px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e1_14 { 
	color:rgba(255, 252.23753303289413, 252.23753303289413, 1);
	width:152px;
	height:119px;
	position:absolute;
	left:75px;
	top:48px;
	font-family:Rambla;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e3_1 { 
	width:675px;
	height:361px;
	position:absolute;
	left:651px;
	top:281px;
}
.e1_15 { 
	color:rgba(255, 252.23753303289413, 252.23753303289413, 1);
	width:551px;
	height:103px;
	position:absolute;
	left:8px;
	top:0px;
	font-family:Rambla;
	text-align:left;
	font-size:65px;
	letter-spacing:0;
}
.e1_16 { 
	color:rgba(255, 255, 255, 0.699999988079071);
	width:553px;
	height:83px;
	position:absolute;
	left:122px;
	top:88px;
	font-family:Roboto Condensed;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e1_25 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:395px;
	height:77px;
	position:absolute;
	left:0px;
	top:284px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e1_26 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:396px;
	height:59px;
	position:absolute;
	left:23px;
	top:302px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}

.e1_6 { 
	width:409px;
	height:472px;
	position:absolute;
	left:119px;
	top:284px;
	
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_2 { 
	
	width:56px;
	height:229px;
	position:absolute;
	left:1351px;
	top:774px;
}
.e1_57 { 
	
	width:48px;
	height:49px;
	position:absolute;
	left:70px;
	top:160px;
}
.e1_557 { 
	
	width:48px;
	height:49px;
	position:absolute;
	left:70px;
	top:100px;
}
.e1_577 { 
	
	width:48px;
	height:49px;
	position:absolute;
	left:70px;
	top:40px;
}



